
<!--###CHATROOM### begin-->

###CSS_USERCOLORS###

<div id="tx-vjchat-loadinginfo">
	<img src="/typo3conf/ext/connect_template/Resources/Public/Images/loading-big.gif" height="30" width="30"> ###LOADING_MESSAGE###
</div>

<div id="tx-vjchat-container" class="container">
	<div id="tx-vjchat-content" class="row">
		<div id="tx-vjchat-userlist" class="collapse in col-sm-3" style="height:auto;" aria-expanded="true"></div>

		<div id="tx-vjchat-messages" class="col-xs-12 col-sm-9" style="height: 100%; display:none;"></div>
	</div>

	<!--###TOOLS_CONTAINER### begin-->
	<div id="tx-vjchat-tools-container" class="row" style="display:none;">
		<!-- ###FORMAT_CONTAINER### begin-->
		<div id="tx-vjchat-format">
			###CHATBUTTONS###
		</div>
		<!-- ###FORMAT_CONTAINER### end-->
		<!-- ###STYLING_CONTAINER### begin--><div id="tx-vjchat-style" style="display:none;">###STYLES###</div><!-- ###STYLING_CONTAINER### end-->
		<!-- ###EMOTICONS_CONTAINER### begin--><div id="tx-vjchat-emoticons" style="display:none;">###EMOTICONS###</div><!-- ###EMOTICONS_CONTAINER### end-->
	</div>
	<!--###TOOLS_CONTAINER### end-->

	<div id="tx-vjchat-input-container" class="row" style="display:none;">
		<textarea id="txvjchatnewMessage" name="txvjchatnewMessage" rows="3" cols="40"></textarea>
		<!--###SEND_BUTTON### begin --><button onClick="chat_instance.submitMessage()">###LABEL_SUBMIT###</button><!--###SEND_BUTTON### end -->
	</div>
</div>
<div style="display:none; height: 0;">
	<div id="tx-vjchat-storedMessages" style="display:none; height: 10em;"></div>
	<div id="tx-vjchat-user-detail" style="display:none; position: absolute; top: 0px; left: 0px; z-index: 1000; margin: 0;">
		<div id="tx-vjchat-user-detail-caption"></div>
		<div id="tx-vjchat-user-detail-body"></div>
	</div>
</div>
<script language="JavaScript" type="text/javascript">
	//<![CDATA[
	// create chat

	var chat_instance = new tx_vjchat_pi1_js_chat();

	chat_instance.configuration = {
		roomId: ###CHATROOM_ID###,
	userId: "###USERID###",
		scriptUrl: "###SCRIPTURL###",
		leaveUrl: 	"###LEAVEURL###",
		newWindowUrl: "###NEWWINDOWURL###",
		initialId: ###INITIALID###,
	charset : "###CHARSET###",
		debugMode:	"###DEBUG###",
		lang:	"###LLKEY###",
		usernameGlue:	"###USERNAMESGLUE###",
		usernamesFieldGlue:	"###USERNAMESFIELDGLUE###",
		messagesGlue:	"###MESSAGESGLUE###",
		idGlue:	"###IDGLUE###",
		userColors: ###USERCOLORS###,
	colorizeNicks: ###COLORIZE_NICKS###,
	showTime: ###SHOW_TIME###,
	showEmoticons: ###SHOW_EMOTICONS###,
	showStyles: ###SHOW_STYLES###,
	refreshMessagesTime: ###REFRESH_MESSAGES_TIME###,
	refreshUserlistTime: ###REFRESH_USERLIST_TIME###,
	inputElement: $('#txvjchatnewMessage'),
		messagesElement:	$('#tx-vjchat-messages'),
		storedMessagesElement:	$('#tx-vjchat-storedMessages'),
		stylesElement:	$('#tx-vjchat-style'),
		userListElement:	$('#tx-vjchat-userlist'),
		debugElement:	$('#tx-vjchat-debug'),
		popup: ###ISPOPUP###,
	popupJSWindowParams : "###POPUP_JS_WINDOW_PARAMS###",
		userlistPMContent:	'###USERLIST_PM_CONTENT###',
		userlistPRContent:	'###USERLIST_PR_CONTENT###',
		userlistPMInfo:	'###USERLIST_PM_INFO###',
		userlistPRInfo:	'###USERLIST_PR_INFO###',
		talkToNewRoomName:	"###TALK_TO_ROOM_NAME###",
		allowPrivateMessages: ###ALLOW_PRIVATE_MESSAGES###,
	allowPrivateRooms : ###ALLOW_PRIVATE_ROOMS###,
	globalInstanceName : "chat_instance",
		useSnippets: ###USE_SNIPPETS###,
	snippetsError: '###SNIPPETS_ERROR###',
		tooltipOffsetX: ###TOOLTIP_OFFSET_X###,
	tooltipOffsetY : ###TOOLTIP_OFFSET_Y###,
	focusOnNewMessage : false,
		chatbuttonson: ###CHATBUTTONS_ON###,
	chatbuttonsoff: ###CHATBUTTONS_OFF###,
	chatbuttonskeys: ###CHATBUTTONS_KEYS###,
	enableSound: ###ENABLE_SOUND###,
	soundSupportOptions: ###SOUND_SUPPORT_OPTIONS###,
	soundSupportName: "###SOUND_SUPPORT###",
		soundMessage: ###SOUND_MESSAGE###,
	soundUserlist: ###SOUND_USERLIST###,
	chatWindow: self,
		JSdebug: true
	}

	function openChatWindow(id) {
		chat_instance.openChatWindow(id);
	}

	function setValueToInput(value) {
		chat_instance.setValueToInput(value);
	}


	$(window).bind("load", tx_vjchat_launch);
	$(window).bind("resize", tx_vjchat_resize);
	$('#tx-vjchat-showUserlist button').click( function() {
		event.preventDefault() ;
		if( $('#tx-vjchat-userlist').attr("aria-expanded" ) ==  "true") {
			$('#tx-vjchat-userlist').addClass("in").attr("aria-expanded" , "false").css('height' , '2px') ;
		}  else {
			$('#tx-vjchat-userlist').removeClass("in").attr("aria-expanded" , "true").css('height' , 'auto') ;
		}
		tx_vjchat_resize() ;
	} );
	function tx_vjchat_launch() {

		$('#tx-vjchat-container').show();

		$('#tx-vjchat-messages').show();
		$('#tx-vjchat-userlist').show();
		$('#tx-vjchat-tools-container').show();
		$('#tx-vjchat-input-container').show();
		$('#tx-vjchat-loadinginfo').hide();
		$('#txvjchatnewMessage').focus();
		chat_instance.init();
		chat_instance.run();
		if ( $(window).width() < 767 ) {
			$('#tx-vjchat-userlist').removeClass("in").attr("aria-expanded" , "false").css('height' , '2px') ;
		}
		tx_vjchat_resize() ;
	};
	function tx_vjchat_resize() {
		var totalH= $(window).height() ;
		var otherH = 60 ;
		if ( $(window).width() < 767 ) {
			otherH = $('#tx-vjchat-userlist').height() + 60 ;
		} else {
			$('#tx-vjchat-userlist').addClass("in").attr("aria-expanded" , "true").css('height' , 'auto') ;
		}
		if( totalH < 400 ) {
			$('#txvjchatnewMessage').css("height" , "46px") ;
		} else {
			$('#txvjchatnewMessage').css("height" , "92px") ;
		}
		var infoH = $('#tx-vjchat-chat-intro').height() ;
		var toolsH = $('#tx-vjchat-tools-container').height() ;
		var inputH = $('#tx-vjchat-input-container').height() ;
		var messH = totalH - infoH - toolsH - inputH - otherH ;
		// debug needed ??
		// $('#txvjchatnewMessage').val( "TotalH : " + totalH + " | toolsH: " + toolsH + " | Result: " + messH ) ;
		$('#tx-vjchat-messages').css("height" , messH + "px") ;
	}
	//]]>
</script>

<!--###CHATROOM### end-->

<!--###CHATROOM_FULL### begin-->
<script language="JavaScript" type="text/javascript">
	//<![CDATA[
	var chat_instance = new tx_vjchat_pi1_js_chat();

	chat_instance.configuration = {
		roomId : ###CHATROOM_ID###,
	scriptUrl : "###SCRIPTURL###",
		checkFullTime: ###RELOAD_TIME###,
	globalInstanceName : "chat_instance",
		checkFullStatusElement : $('tx-vjchat-full-jsstatus')
	}

	chat_instance.init();
	chat_instance.checkFull();
	//]]>
</script>
<!--###CHATROOM_FULL### end-->
