<div style="padding:20px">
    <p>
        <strong>Post actions:</strong><br>

        Report: <i class="far fa-paper-plane"></i>
        <br>
        Helpful: <i class="far fa-thumbs-up"></i>
        <br>
        Spam: <i class="far fa-thumbs-down"></i>
        <br>
        Edit: <i class="far fa-edit"></i>
        <br>
        Delete: <i class="fas fa-minus-square"></i>
        <br>
        Quote: <i class="fas fa-quote-right"></i>
        <br>
        Direct link: <i class="fas fa-share"></i>
        <br>
        Is solution: <i class="far fa-check-circle"></i>
        <br>
        Replace solution: <i class="far fa-check-circle" style="text-decoration: line-through;"></i>
        <br>


        <br>

        <strong>Post infos:</strong><br>

        Attachements: <i class="fas fa-paperclip"></i>
        <br>
        File: <i class="far fa-file"></i>
        <br>
        Size: <i class="fas fa-info"></i>
        <br>
        Download: <i class="fas fa-download"></i>
        <br>


        <br>


        <strong>User actions:</strong><br>

        Mail: <i class="far fa-envelope"></i>
        <br>
        Menu: <i class="fas fa-chevron-up"></i><i class="fas fa-chevron-down"></i>
        <br>


        <br>

        <strong>User infos:</strong><br>

        Online: <i class="fas fa-microphone"></i>
        <br>
        Offline: <i class="fas fa-microphone-slash"></i>
        <br>
        Icons:
        <span alt="ico" title="Nutzer" class="userIcon userIcon-small Group_10_User"></span>
        <span class="userIcon userIcon-small Group_32_student" alt="ico" title="Campus Student"> </span>
        <br>
        <i class="far fa-comment"></i> 14 Antworten
        <br>
        <i class="fas fa-comment-alt"></i> 2 Hilfreiche Antworten
        <br>
        <i class="far fa-thumbs-down"></i> 1 x Spam
        <i class="fas fa-thumbtack fa-2x"></i> fa-thumbtack fa-2 <br>
        <br>
        <strong>Community </strong><br>
        fas fa-hourglass-start: <btn class="fas fa-hourglass-start text-danger">           </btn>   <br>
        fas fa-minus-circle : <btn class="fas fa-minus-circle text-danger">           </btn> <br>
        fas fa-ban: <btn class="fas fa-ban text-danger">           </btn>  <br>
        fas fa-link : <btn class="fas fa-link ">           </btn> <br>
        <br>
        <br>
        <strong>Chat Buttons</strong><br>
        <i class="btn btn-default fa fa-bold" id="tx-jvchat-button-b"></i>
        <i class="btn btn-default fa fa-italic" id="tx-jvchat-button-i" ></i>
        <i class="btn btn-default fa fa-underline" id="tx-jvchat-button-u" ></i>
        <i class="btn btn-default fa fa-strikethrough" id="tx-jvchat-button-s"></i>
        <i class="btn btn-default fas fa-clock" id="tx-jvchat-button-c"></i>


        <i class="btn btn-default fas fa-smile" id="tx-jvchat-button-smilies" ></i>

        <i class="btn btn-default fas fa-play" style="display:none" id="tx-jvchat-button-start-on" ></i>
        <i class="btn btn-default fas fa-stop" id="tx-jvchat-button-start"></i>
        <i class="btn btn-default fa fa-question" id="tx-jvchat-button-help" ></i>

        <i class="btn btn-default fa fa-images" id="tx-jvchat-button-image"></i>

        <br>
        <strong>Emoticons </strong><br>
        <div class="chatIconColor"><f:format.raw>{emoticons}</f:format.raw></div>
        <br>
        <br>
        <br>
        <strong>Nem Licence </strong><br>
        <i class="fas fa-external-link-alt"></i><br>
        <br>
        <i class="fa fa-copy"> Copy </i>  <br>
        <i class="fa fa-chevron-down"> </i> View Debug Infos<br>
        <i class="fa fa-2x fa-list-alt" > </i> List Alt<br>
        <i class="fa fa-2x fa-search" > </i>  Debug message<br>
        <i class="fa fa-2x fa-stop-circle" > Stop Icon</i><br>
            <i class="fa fa-redo"> Reload  </i><br>
            <i class="fa fa-file"> New File </i><br>
            <i class="fas fa-spin fa-spinner fa-6x brand-primary"></i> spinner <br>
    </p>

</div>